# Ignore everything in the dist directory
/dist/*

# But do not ignore the dist directory itself
!/dist/

# Unignore the manifest.json file specifically
!/dist/manifest.json

/docs
/node_modules
/vendor
